[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
coverage = "*"
asgi-lifespan = "*"
pytest-asyncio = "*"
pytest-httpx = "*"

[requires]
python_version = "3.10"
