[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bump2version = "==0.5.11"
watchdog = "==0.9.0"
flake8 = "==3.7.8"
tox = "==3.14.0"
coverage = "==5.5"
twine = "==1.14.0"
pytest = "==6.2.4"
pytest-runner = "==5.3.1"
asynctest = "==0.13.0"
pytest-asyncio = "==0.15.1"
pytest-cov = "==2.10.1"
pytest-mock = "==3.6.1"
python-coveralls = "==2.9.3"
requests = ">=2.20.0"
parsel = "==1.4.0"
sphinx-rtd-theme = "==0.4.0"
testfixtures = "==6.3.0"
pytest-aiohttp = "==0.3.0"
factory-boy = "==3.2.0"
Sphinx = "==1.8.5"
PyYAML = ">=4.2b1"
numpy = "*"
networkx = "*"
matplotlib = "*"
plotly = "*"
sklearn = "*"
pandas = "*"
multidict = "==4.5.2"
pyasn1-modules = "==0.2.7"
pyasn1 = "==0.4.7"
aioxmpp = ">=0.12.2"
aiohttp = "==3.7.4.post0"
aiohttp-jinja2 = "==1.4.2"
jinja2-time = "==0.2.0"
timeago = "==1.0.8"
singletonify = "==0.2.3"
Flask = "*"
FaSh = "*"
Jinja2 = "==3.0.1"
dash = "*"
virtualenvwrapper = "*"
spade = {git = "git://github.com/agent-based-information-flow-simulation/spade.git"}

[dev-packages]

[requires]
python_version = "3.9"
