[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
httpx = "*"
spade = {git = "https://github.com/agent-based-information-flow-simulation/spade"}
numpy = "*"
fastapi-utils = "*"
aioxmpp = "*"
psutil = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
coverage = "*"
asgi-lifespan = "*"
pytest-asyncio = "*"
pytest-httpx = "*"

[requires]
python_version = "3.9"
